<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.razorpay.razorpay_flutter">
    <application>
        <receiver
                android:name="com.razorpay.RzpTokenReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
                android:name="com.razorpay.CheckoutActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                android:exported="true"
                android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                        android:host="rzp.io"
                        android:scheme="io.rzp" />
            </intent-filter>
        </activity>
    </application>
</manifest>
